body{
    font-family: sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.progress{
    height: 20px;
    width: 500px;
    background-color: rgb(233,236,239);
    border:1px solid black;
    border-radius: 15px;
    overflow: hidden;

}

.progress span{
    position:absolute;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.progress div{
    height:100%;
    background-color: #00c251;

}