.wholeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.TodoHeading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.add-btn{
    padding: 6px 18px;
    border-radius: 5px;
    border-width: 0px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #3B71CA;
    color: white;
}

.inputElement{
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
    height: 2vh;
}